<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="login/homePage.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a th:href="@{register}"><i class="fa fa-fw fa-envelope"></i> Register</a>
    <a th:href="@{login}"><i class="fa fa-fw fa-user"></i> Login</a>
</div>

</body>
</html>